.educationList {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2rem;
  align-items: center;
  justify-items: center; */
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
